body
{
background-color: #dfe2d3;
font-family: 'Lato', sans-serif;
}

#container
{
  width:1000px;
  margin-left: auto;
  margin-right: auto;
  }
#name
{
  margin-left: 70px;
  padding-right: 190px;
  width: 140px;
  float: left;
  font-size: 34px;
  height: 150px;
  padding-top: 70px;
  font-family: 'Ubuntu', sans-serif;
}
.obrazek
{
  margin-top: 10px;
  margin-left: 20px;
  padding-right: 20px;
  width: 255px;
  height: 200px;
  float: left;
}

#content
{
  border-top: 1px solid;
  font-size: 16px;
  }

.lista1
{
  float: left;
  width: 44%;
  text-align: left;
  margin: 0px 10px;
}


.lista2
{
  float: left;
  width: 24%;
  margin: 0px 15px;
  text-align: justify;
}

h3
{
  text-align: center;
}

.use
{
  float: left;
  margin-right: 5px;
  width:45%;
  border-right: 1px dotted;

}

.linia
{
  border-right: 0px;
}

.use > ul > li
{
  list-style-type: none;
}

.use > ul
{
  margin-top: 5px;
}

a:link
{
  text-decoration: none;
  color: #405b46;
}

a:visited
{
  color: #405b46;
}

a:hover
{
  color: #405b46;
  font-weight: 700;
}

#inne
{
  clear: both;
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

h5
{
  margin: 0;
}
